
@font-face {
  font-family: 'Elephant';
  src: url('fonts/Elephant Font/ElephantBlackOblique/font.woff2') format('woff2'),
       url('fonts/Elephant Font/ElephantBlackOblique/font.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Elephant';
  src: url('fonts/Elephant Font/ElephantLight/font.woff2') format('woff2'),
       url('fonts/Elephant Font/ElephantLight/font.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Elephant';
  src: url('fonts/Elephant Font/ElephantLightOblique/font.woff2') format('woff2'),
       url('fonts/Elephant Font/ElephantLightOblique/font.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Elephant';
  src: url('fonts/Elephant Font/ElephantMedium/font.woff2') format('woff2'),
       url('fonts/Elephant Font/ElephantMedium/font.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Incision';
  src: url('fonts/Incision-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Body Font */
@font-face {
  font-family: 'California Naturals';
  src: url('fonts/CaliforniaNaturals-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ITC Clearface';
  src: url('fonts/ITC-Clearface-Std_24577.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kimmie';
  src: url('fonts/kimmie-font.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}