
@font-face {
  font-family: 'Elephant';
  src: url('font-ElephantBlackOblique.woff2') format('woff2'),
       url('font-ElephantBlackOblique.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Elephant';
  src: url('font-ElephantLight.woff2') format('woff2'),
       url('font-ElephantLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Elephant';
  src: url('font-ElephantLightOblique.woff2') format('woff2'),
       url('font-ElephantLightOblique.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Elephant';
  src: url('font-ElephantMedium.woff2') format('woff2'),
       url('font-ElephantMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Incision';
  src: url('font-Incision-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Body Font */
@font-face {
  font-family: 'California Naturals';
  src: url('font-CaliforniaNaturals-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ITC Clearface';
  src: url('font-ITC-Clearface-Std_24577.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kimmie';
  src: url('font-kimmie-font.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}