.footer {
  background-color: var(--colors-accent);
  color: var(--colors-text-inverse);
}

  .footer__bottom .page-width {
    border-top: 1px solid;
  }

  .footer__menu {
    margin-top: var(--step-2);

    @media screen and (min-width: 990px) {
      gap: var(--step-4);
    }
  }

  .footer__menu-item {
    width: auto;
  }

  .footer__newsletter-form {
    min-width: 50vw;

    @media screen and (max-width: 990px) {
      width: 100%;
    }
  }

  .footer__title {
    color: var(--colors-body-inverse);
  }

  .footer__link {
    &:hover,
    &:focus {
      text-decoration-line: underline;
      text-decoration-style: wavy;
      text-decoration-skip-ink: auto;
      text-decoration-color: currentColor;

      text-decoration-thickness: 5%;
      text-underline-offset: 0.1em;
      text-underline-position: from-font;
    }
  }

  .footer__block--logo img {
    max-width: 100%;
  }

  .footer__block--social {
    width: 100%;
  }

  .footer__block--social .instafeed-shopify {
    /* background-color: var(--colors-secondary); */
    width: 100%;
    /* height: 20lvh; */
  }

  /* .header__logo {
    margin: 0;
  }

  .header__menu-toggle {
    display: none;
  }

  .header__wrapper .flex {
    display: inline-flex;
    width: auto;
  }

  .header__wrapper .header__left,
  .header__wrapper .header__right {
    flex: 1;
  } */