.text-columns {
}

.text-columns__grid {
}

.text-column {
  flex: 1;
}

.text-column__thumbnail-wrapper {
  position: relative;
  display: block;
  width: 100%;
}

.text-column__thumbnail {
  width: 100%;
  height: auto;
  border-radius: var(--step--1);
  transition: opacity 0.3s ease;
}

.text-column__thumbnail--hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  object-fit: cover;
}

.text-column__thumbnail-wrapper:hover .text-column__thumbnail--main {
  /* opacity: 0; */
}

.text-column__thumbnail-wrapper:hover .text-column__thumbnail--hover {
  opacity: 1;
}

.text-column__subtitle {
}

.text-column__text {
}

.text-column__author {
}

.text-column__stars {
  color: var(--colors-accent);
  letter-spacing: 0.1em;
} 