.image-with-text {
  position: relative;
  min-height: 40lvh;
  /* margin: 0 auto; */
}

.image-with-text:has(> .image-with-text__curves) {
  /* overflow-x: hidden; */
}

.image-with-text__grid {
  flex-wrap: nowrap;
}

.image-with-text__curves {
  position: absolute;
  bottom: calc(100% - 40px);
  left: -1px;
  right: 0;
  width: calc(100% + 1px);
  height: auto;
  pointer-events: none;
  z-index: 1;
}

.image-with-text__text {
  width: auto;
}

.image-with-text__subheading {
  color: var(--colors-body-inverse);
}

.text-right .image-with-text__media-item {
  order: -1;
}

.image-with-text__media-item--bleed .image-with-text__image {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}

.image-with-text__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
