.text-columns {
}

.text-columns__grid {
}

.text-column {
  flex: 1;
}

.text-column__thumbnail {
  width: 100%;
  height: auto;
}

.text-column__subtitle {
}

.text-column__text {
}

.text-column__author {
}

.text-column__stars {
  color: var(--colors-accent);
  letter-spacing: 0.1em;
} 