.image-with-text {
  position: relative;
  min-height: 40lvh;
  /* margin: 0 auto; */
}

.image-with-text:has(> .image-with-text__curves) {
  /* overflow-x: hidden; */
}

.image-with-text__grid {
  flex-wrap: nowrap;
}

.image-with-text__curves {
  position: absolute;
  bottom: calc(100% - 40px);
  left: -1px;
  right: 0;
  width: calc(100% + 1px);
  height: auto;
  pointer-events: none;
  z-index: 1;
}

.image-with-text__subheading {
  color: var(--colors-body-inverse);
}
