/* .shg-box {
  padding: 0 !important;
  background-color: transparent !important;
}

.shg-box .shg-box-content > div {
  margin: 0 !important;
}

.shogun-heading-component h1 {
  font-family: var(--font-heading) !important;
  font-size: var(--step-4) !important;
  text-align: center !important;
} */